body
{
	font-family: tahoma, osaka,taipei,verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

a
{
	text-decoration: none;
	color: #000065; font-weight: bold;
	background-color: transparent;
}

a:hover
{
	text-decoration: none;
	color: #a00000;
	font-weight: bold;
	background-color: transparent;
}

td
{
	font-family: tahoma, osaka,taipei,verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

img
{
	border: 0px;
}

div
{
	text-align: center;
}

.bg1
{
	background-color: #f7f7f7;
	color: #000000;
}

.bg2
{
	background-color: #000000;
	color: #ffffff;
}

.bg3
{
	background-color: #000065;
	color: #eeeef9;
}

.bg4
{
	background-color: #f5f5f5;
	color: #000000;
}

.bg5
{
	background-color: #f5f5f5;
	color: #000000;
}

.fg1
{
	color: #f9b743;
}

.fg2
{
	color: #000000;
}

td.formContainer
{
	border: solid #3a81c1 2px;
	background-color: #eeeef9;
}

tr.formFooter
{
	background-color: #3a81c1;
	height: 20px;
}

th.formTitle
{
	text-align: left;
	font-size: 14px;
	color: #000065;
}

input[type="text"]
{
	border: #000000 1px solid;
	font: 8pt verdana, arial, helvetica;
	color: #000000;
}

input[type="button"]
{
	font: 8pt verdana, arial, helvetica;
}

select
{
	border: #000000 1px solid;
	background: #f7f7f7;
	font: 8pt verdana, arial, helvetica;
	color: #000000;
}

table
{
	border: 0px none;
}
