/* The basic elements */
button.jq-ajax-table-pager
{
	margin-top: 12px;
}

div.dcl-notification
{
	display: none;
}

a.dcl-tag, span.dcl-tag
{
	background-color: #bfbf60;
}

a.dcl-hotlist, span.dcl-hotlist
{
	background-color: #bf6060;
}

a.dcl-tag, span.dcl-tag a, a.dcl-hotlist, span.dcl-hotlist a
{
	color: #ffffff;
	text-decoration: none;
}

a.dcl-tag:hover, span.dcl-tag a:hover, a.dcl-hotlist:hover, span.dcl-hotlist a:hover
{
	color: #ffffff;
}

a.dcl-tag, span.dcl-tag, a.dcl-hotlist, span.dcl-hotlist
{
	padding: 2px;
	margin: 2px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 3px 2px;
}

.status-type-1
{
	color: #990000;
}

.status-type-2
{
	color: #009900;
}

.status-type-3
{
	color: #ff7400;
}

dd.status-type-1, dd.status-type-2, dd.status-type-3
{
	border-bottom: none 0px;
}

#content {
	height: 100%;
	overflow: auto;
}

/* for clearing stuff on the side */
div.clear {
	clear: both;
}

/* filter control style */
div.dcl_filter {
	border: solid 1px #3a81c1;
	background-color: #eeeef9;
	padding: 4px;
	text-align: center;
}

div.dcl_filter span {
	white-space: nowrap;
}

div.dcl_filter div {
	border-top: dotted #aaa 1px;
	margin-top: 2px;
	padding-top: 2px;
}

div.dcl_filter ul {
	display: inline;
}

div.dcl_filter ul li {
	padding-left: 4px;
	padding-right: 4px;
	border-left: solid black 1px;
	list-style: none;
	display: inline;
}

div.dcl_filter ul li.first {
	border-left: none;
}

div.dcl_filter label {
	font-weight: bold;
}

div.dcl_filter_selectstart div {
	display: inline;
	font-family: sans-serif;
	font-size: 11px;
	width: 8px;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	padding: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-top: none;
}

div.dcl_filter_selectstart div.dcl_startsWith
{
	border-top: solid #ffffff 1px;
	border-left: solid #ffffff 1px;
	border-bottom: solid #000000 1px;
	border-right: solid #000000 1px;
	background-color: #eeeef9;
	color: #000065;
}

div.dcl_filter_selectstart div.dcl_startsWithHover
{
	border-top: solid #ffffff 1px;
	border-left: solid #ffffff 1px;
	border-bottom: solid #000000 1px;
	border-right: solid #000000 1px;
	background-color: #3a81c1;
	color: #eeeef9;
}

div.dcl_filter_selectstart div.dcl_startsWithSelected
{
	border-top: solid #000000 1px;
	border-left: solid #000000 1px;
	border-bottom: solid #ffffff 1px;
	border-right: solid #ffffff 1px;
	background-color: #3a81c1;
	color: #eeeef9;
}

/* detail style */
div.dcl_detail, div.dcl_activity {
}

div.dcl_detail table.styled {
	right: auto;
	/*border: solid 1px #3a81c1;*/
	/*background-color: #eeeef9;*/
	background-color: #eeeef9;
	border: solid 1px #3a81c1;
}

div.dcl_detail table.styled tr.styled-summary td table { width: 100%; border-collapse: collapse; }
div.dcl_detail table.styled tr.styled-summary td table tbody tr td { width: 20%; vertical-align: top; border: solid #aeaeae 1px; }
div.dcl_detail table.styled tr.styled-summary td table tbody tr td dl { margin: 0; }
div.dcl_detail table.styled tr.styled-summary td table tbody tr td dt { padding: 0; margin: 0; color: #666666; }
div.dcl_detail table.styled tr.styled-summary td table tbody tr td dd { padding: 0; font-size: 125%; margin: 0; font-weight: bold; }

div.dcl_detail table.styled caption {
	color: #333333;
	font-size: 17px;
	margin-bottom: 2px;
	text-align: left;
}

div.dcl_detail table.styled tbody tr.group {
	background-color: #cbcbcb;
	color: #000000;
}

div.dcl_detail table.styled tbody tr.group th {
	text-align: left;
	border-bottom: none;
	color: #000065;
}

div.dcl_detail table.styled tbody tr.group td {
	background-color: transparent;
}

div.dcl_detail table.styled thead tr.toolbar th {
	border-bottom: none;
}

div.dcl_detail table.styled th, 
div.dcl_detail table.styled td {
	padding: 1px;
}

div.dcl_detail table.styled th {
	text-align: right;
	white-space: nowrap;
	width: 15%;
	vertical-align: top;
	color: #666666;
	/*border-bottom: dotted 1px #3a81c1;*/
}

div.dcl_detail table.styled td {
	width: 35%;
	background-color: #ffffff;
}

div.dcl_detail table.styled td.highlight {
	color: #333333;
	background-color: #fffebf;
}

div.dcl_detail blockquote {
	background-color: #eeeef9;
	border: solid 1px #3a81c1;
	padding: 2px;
	margin-left: 1.5em;
	margin-right: 1.7em;
}

div.dcl_detail h5, 
div.dcl_activity h5 {
	border-bottom: solid #aaa 1px;
	margin-left: .7em;
	color: #555;
}

div.dcl_activity blockquote {
	background-color: #ffffee;
	border: solid 1px #999999;
	padding: 2px;
	margin-left: 1.5em;
	margin-right: 1.7em;
}

div.dcl_activity dt {
	display: inline;
	font-weight: bold;
	margin-left: .5em;
	color: #555;
}

div.dcl_activity dd {
	display: inline;
	margin-left: .17em;
}

div.dcl_activity p {
	margin-top: .5em;
	margin-left: .5em;
	padding-top: .17em;
	border-top: dotted #aaa 1px;
}

div.dcl_activity blockquote ul {
	float: right;
	display: inline;
}

div.dcl_activity blockquote ul li {
	display: inline;
	padding-left: 4px;
	padding-right: 4px;
	border-left: solid black 1px;
}

div.dcl_activity blockquote ul li.first {
	border-left: none;
}

div.dcl_activity h3 {
	clear: right;
}

td.task_incomplete {
	color: #650000;
}

td.task_complete {
	color: #666666;
	text-decoration: line-through;
}

span.task_audit {
	font-style: italic;
	color: #888888;
}

ul.sortable {
	list-style-type: none;
	margin: 0px;
}

ul.sortable li {
	width: 500px;
	border: solid #000065 1px;
	background-color: #ececec;
	color: #650000;
	cursor: move;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

ul.sortable li.task_complete {
	text-decoration: line-through;
	color: #666666;
}

ul.sortable li.task_incomplete {
}

/******************************************************************************************************************/
td.formContainer
{
	border: solid #3a81c1 2px;
	background-color: #eeeef9;
}

td.filterContainer
{
	border-left: solid #3a81c1 2px;
	border-right: solid #3a81c1 2px;
	border-bottom: solid #3a81c1 2px;
	background-color: #eeeef9;
}

td.formSection
{
	font-weight: bold;
	border-bottom: solid black 2px;
	vertical-align: top;
}

tr.formFooter
{
	background-color: #3a81c1;
	height: 20px;
}

th.formTitle
{
	text-align: left;
	font-size: 17px;
	color: #000065;
}

th.formLinks
{
	text-align: right;
}

th.detailTitle
{
	font-size: 15px;
	text-align: left;
	color: #000065;
	border-bottom: solid #3a81c1 2px;
	white-space: nowrap;
}

th.detailTitleFancy
{
	font-size: 15px;
	text-align: left;
	color: #000065;
	border-bottom: solid #3a81c1 2px;
	background-image: url(../img/blue-gradient.png);
	background-repeat: repeat-x;
	white-space: nowrap;
}

th.detailLinks
{
	white-space: nowrap;
	text-align: right;
	border-bottom: solid #3a81c1 2px;
}

td.detailBox
{
	vertical-align: top;
	width: 50%;
	border: solid #a0a0a0 1px;
	background-color: #eaeaea;
}

.fieldLabel
{
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	width: 15%;
	white-space: nowrap;
}

.fieldData
{
	vertical-align: top;
}

td.leftSeparator
{
	vertical-align: top;
	border-left: solid #3a81c1 1px;
}

td.bottomSeparator
{
	vertical-align: top;
	border-bottom: solid #3a81c1 1px;
}

th.reportHeader
{
	text-align: left;
	border-bottom: solid black 2px;
}

tr.odd
{
	background-color: #ffffff;
}

tr.oddHover
{
	background-color: #ffffee;
	cursor: hand;
	cursor: pointer;
}

tr.even
{
	background-color: #eeeef9;
}

tr.evenHover
{
	background-color: #ffffee;
	cursor: hand;
	cursor: pointer;
}

tr.footer td
{
	border-top: black solid 2px;
	font-weight: bold;
}

th.groupLevel0
{
	text-align: left;
	background-color: #eeeeee;
	font-size: 15px;
	border-bottom: solid #3a81c1 1px;
}

th.groupLevel1
{
	text-align: left;
	font-size: 14px;
}

div.sectionTitle
{
	background-color: #000000;
	padding: 2px;
	font-weight: bold;
	font-size: 15px;
	color: #ffffff;
}

span.disabled
{
	color: #555555;
	font-weight: bold;
}

span.error
{
	font-weight: bold;
	color: #aa0000;
}

tt, pre
{
	font-family: Lucida Console,Courier New,Courier,monotype;
}

.wikicode
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	background-color: #FFFFEE;
	white-space:pre;
	border-style:solid;
	border-width:1pt;
	border-color:#999999;
	color:#111111;
	padding-left: 4pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	width:99%;
}

.scrollable
{
	height: 200px;
	overflow: auto;
}

@media print
{
	body, html, .row-offcanvas {
		height: auto;
	}

	body {
		padding-top: 0px;
	}

	.noprint
	{
		display: none;
	}

	a.wiki
	{
		color: black;
		font-weight: normal;
	}

	#sidebar {
		display: none;
	}
	
	#content {
		margin-left: 0px;
		overflow: visible;
		height: auto;
		padding-top: 0px;
	}

	#content p.visible-xs {
		display: none;
	}

	#header
	{
		display: none;
	}
	
	#left
	{
		display: none;
	}
	
	div.listmenu, div.sf-menu-container
	{
		display: none;
	}
	
	.scrollable
	{
		height: auto;
		overflow: visible;
	}

	a[href]:after {
		content: "" !important;
	}
}

/* Post-bootstrap changes */
body, html, .row-offcanvas {
	height: 100%;
}

body {
	padding-top: 50px;
}

#content {
	padding-top: 8px;
}

#sidebar {
	float: left;
	width: inherit;
	min-width: 220px;
	max-width: 220px;
	background-color: #eceaec;
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.row.top12 {
	margin-top: 12px;
}

div.panel div.panel-heading h3 {
	margin-top: 1px;
	margin-bottom: 5px;
}

#dcl-main-nav-bar.navbar {
	margin-bottom: 0px;
}

.ui-jqgrid table a.btn {
	color: #ffffff;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.form-horizontal .has-feedback .inputGroupContainer .form-control-feedback {
	right: -15px;
}

@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
		width: calc(100% + 220px);
	}

	.row-offcanvas-left
	{
		left: -220px;
	}

	.row-offcanvas-left.active {
		left: 0;
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
	}
}
