/* $Id$ */
.horbar	{
	color: #ececec;
	background-color: #efefef;
	border-bottom: 1px solid #999999;
	z-index: 100000;
	background-image: url(../img/bg_menu.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.horbaritem	{
	float: left;
	white-space: nowrap;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
}

.horbaritem a	{
	display: block;
	text-decoration: none;
	border: 1px solid transparent;
	font-size: 12px;
}

.horbaritem a:link	{
	color: #ececec;
}

.horbaritem a:visited	{
	color: #ececec;
}

.horbaritem a:hover	{
	background-color: #eeeef9;
	color: #000000;
	border: solid #3a81c1 1px;
}

.horbaritem a:active	{
	color: #ff0000;
}

.verbar	{
	color: black;
	background-color: #dcdad5;
	border: 2px outset #cecac1;
}

.submenu	{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	z-index: 100000;
	filter: progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=4)
			alpha(Opacity=90);
}

.subframe	{
	position: relative;
	display: block;
	background-color: #ffffff;
	border: 1px solid black;
	-moz-opacity:		0.9;
}

.item	{
	position: relative;
	text-align: left;
	white-space: nowrap;
	font-family: Tahoma, Verdana, Arial, Helvetica;
	font-size: 11px;
	padding: 2px;
}

.item a	{
	position: relative;
	display: block;
	text-decoration: none;
	color: #000000;
	border: solid #ffffff 1px;
}

.item a:hover	{
	background-color: #eeeef9;
	color: #000000;
	border: solid #3a81c1 1px;
}

.item .fwdarr	{
	position: absolute;
	top: 5px;
/*	right: 4px; */
	right: 7px;
}
